---
layout: default-layout
---
<article class="row collapse post">
  <div class="medium-8 medium-offset-2">

    {% include postnav.html %}

    <div class="row post-header">
      <header>
        <div class="row collapse">
          <h1 class="post-title">{{ page.title }}</h1>

          <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} •
            {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
          </p>
        </div>
      </header>
    </div>

    <section class="row post-content">
      <article>
        {{ content }}
      </article>
    </section>

    <nav class="bottom-postnav">
      {% include postnav.html %}
    </nav>
    <div class="hrule"></div>
    <section class="post-share-social">

      <div class="post-share-social-icons">
        <a class="fa fa-twitter" href="http://www.twitter.com/share?text= {{ post.title }}"
           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        </a>

        <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u= {{ post.title }}"
           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        </a>

        <a class="fa fa-google-plus"
           href="https://plus.google.com/share?url= {{ site.url }} {{site.baseurl}}{{ page.url }}"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        </a>
      </div>
    </section>
  </div>
</article>
